@font-face {
  font-family: "Cormorant";
  font-weight: 700;
  src: local("Cormorant-Bold"), local("Cormorant"),
    url(../fonts/cormorant-v11-latin_cyrillic-700.woff2) format("woff2"),
    url(../fonts/cormorant-v11-latin_cyrillic-700.woff) format("woff2");
  font-display: swap;
}

:root {
  --main-color: #ffffff;
  --second-color: #262626;
  --one-color: #00654e;
  --two-color: #006e55;
  --three-color: #005844;
  --main-bg-color: #005844;
  --second-bg-color: #c0b487;
  --trigger-color: #e6ab39;
  box-sizing: border-box;
  position: relative /* Теперь 1 rem = 10 px обыкновенных */;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font: inherit;
}

body {
  font-size: 1.8rem;
  letter-spacing: 0.04em;
  color: var(--main-color);
  font-family: Arial, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: Cormorant, serif;
  font-weight: 700;
  font-size: 7rem;
  line-height: 100%;
  color: var(--main-color);
  letter-spacing: 0.01em;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 137.4rem;
  margin: 0 auto;
  padding: 0 4.2rem;
}

.hide {
  display: none;
}

@media (max-width: 1440px) {
  .container {
  }
}
